---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Tips from "../components/Tips.astro";
---

<MainLayout>
  <Tips />
    <h2
    class="pt-24 text-lime-50 text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-mono"
  >
    Beregn dit affald her
  </h2>
    <section id="step2"
      class="bg-lime-50 rounded-2xl p-6 gap-5 text-lime-900 max-w-140 place-self-center mt-10" >
      <h3 class="text-3xl font-bold mb-3">Beregn dit bidrag</h3>

      <section class="grid grid-cols-4 gap-8 items-center">
    <!-- Harddisk -->
        <div>
          <p class="mb-2 ml-4 place-content-center">Harddisk</p>
            <img class="w-24 h-24 ml-2" src="../ikoner/flere-filer-ikon.svg" alt="Harddisk" />
            <label class="block mb-1 text-center" for="GB slettet">Procent</label>
            <input
              class="p-2 rounded-full border-2 border-lime-400 bg-lime-50 w-20 sm:w-30 h-8 sm:h-10 text-center"
              type="text"
              id="GB slettet"
              placeholder="10%"
            />
        </div>
<!-- Foto og video -->
        <div>
          <p class="ml-4 mb-2 place-content-center">Fotos&Video</p>
            <img class="w-24 h-24 ml-2" src="../ikoner/camera-icon.svg" alt="Harddisk" />
            <label class="block mb-1 text-center" for="GB slettet">Procent</label>
            <input
              class="p-2 rounded-full border-2 border-lime-400 bg-lime-50 w-20 sm:w-30 h-8 sm:h-10 text-center"
              type="text"
              id="10%"
              placeholder="10%"
            />
        </div>
<!-- Smartphone -->
        <div>
          <p class="mb-2">Smartphone</p>
          
            <img
              class="w-24 h-24 align-middle"
              src="../ikoner/smartphone-icon.svg"
              alt="Harddisk"
            />

            <label class="block mb-1 text-center " for="GB slettet">Procent</label>
            <input
              class="p-2 rounded-full border-2 border-lime-400 bg-lime-50 w-20 sm:w-30 h-8 sm:h-10 text-center"
              type="text"
              id="Procent"
              placeholder="10%"
            />
        </div>
<!-- Emails -->
        <div>
          <p class="mb-2 text-center">Emails</p>
          
            <img class="w-24 h-24 items-center" src="../ikoner/email-icon.svg" alt="Harddisk" />
         
            <label class="block mb-1 text-center" for="GB slettet">Procent</label>
            <input
              class="p-2 rounded-full border-2 border-lime-400 bg-lime-50 w-20 sm:w-30 h-8 sm:h-10 text-center"
              type="text"
              id="GB slettet"
              placeholder="10%"
            />
          </div>
    
      </section>
      
        
        <!-- Almindelig Næste-knap -->
        <button
          id="nextBtn2"
          class="p-3 rounded-full font-mono w-40 text-lime-900 bg-lime-400 font-regular hover:blur-sm mt-5"
          onclick="toggleSections('step2', 'step3', false)"
        >
          Se Resultat
        </button>
      </div>
    </section>
    
    <!-- Godt klaret udfald -->
    <section
      id="step3"
      class="bg-lime-50 rounded-2xl p-6 flex-col justify-center gap-3 text-lime-400 max-w-110 place-self-center hidden mt-10"
    >
      <h2 class="text-4xl font-bold">Du skide god!</h2>
      <h3 class="text-3xl font-bold">Dit bidrag svarer til:</h3>
    
      <div class="grid grid-cols-2">
        <img class="w-24 h-24" src="../ikoner/blade.svg" alt="blade" />
        <div>
          <h3 class="text-3xl font-bold">51 kWh energi</h3>
          <p>Det er nok til at en elbil kan køre 377 km</p>
        </div>
      </div>
      <div class="grid grid-cols-2">
        <img class="w-24 h-24" src="../ikoner/tre.svg" alt="træ" />
        <div>
          <h3 class="text-3xl font-bold">2 træer</h3>
          <p>Det svarer til det carbon 2 træer absorberer på et år</p>
        </div>
      </div>
      <div class="flex justify-between">
        <!-- Tilbage-knap -->
        <button
          id="backBtn3"
          class="p-3 rounded-full font-mono w-30 text-lime-900 bg-lime-400 font-regular hover:blur-sm mt-5"
          onclick="toggleSections('step3', 'step2', true)"
        >
          Tilbage
        </button>
      </div>
    </section>
    
    <!-- JS -->
    <script client:load>
      // Funktion der håndterer skift mellem sektioner
      function toggleSections(currentStepId, nextStepId, isBack) {
        const currentStep = document.getElementById(currentStepId);
        const nextStep = document.getElementById(nextStepId);
    
        if (isBack) {
          currentStep.classList.add("hidden"); // Skjuler den aktuelle step
          nextStep.classList.remove("hidden"); // Viser den forrige step
        } else {
          currentStep.classList.add("hidden"); // Skjuler den aktuelle step
          nextStep.classList.remove("hidden"); // Viser den næste step
        }
      }
    </script>
    

</MainLayout>