---
import '../styles/tailwind.css'
---
<section class="bg-lime-900 p-5 flex flex-col gap-5 sm:flex-row items-center justify-center min-h-screen">
  <!--First Box-->
  <div class="bg-lime-50 w-72 h-72 p-5 rounded-[20px] flex flex-col items-center justify-between">
    <div class="text-center">
      <svg class="w-20 h-20 stroke-lime-500 mx-auto mb-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.31 27.3">
        <path fill="none" stroke-width="1" d="M17.54,19.83c-3.13.67-4.3.67-4.3.67-4.53,0-8.21-3.13-8.21-7s3.67-7,8.21-7c0,0,1.95,0,4.3.67l-1.04-3.17c-3-1-5.5-1-5.5-1C5.2,3,.5,7.7.5,13.5s4.7,10.5,10.5,10.5c0,0,1.5,0,5.5-1l1.04-3.17Z"/>
        <line fill="none" stroke-width="1" x1="7.5" x2="7.5" y2="3.6"/>
        <line fill="none" stroke-width="1" x1="13.04" x2="13.04" y2="3.18"/>
        <line fill="none" stroke-width="1" x1="13.04" y1="23.75" x2="13.04" y2="27.3"/>
        <line fill="none" stroke-width="1" x1="7.5" y1="23.4" x2="7.5" y2="27.3"/>
      </svg>
      <p class="font-mono text-[16px]">Det kræver mere energi at udvinde BitCoin, end hele New Zealand bruger på et år!</p>
    </div>
  </div>

  <!--Second Box-->
  <div class="bg-lime-50 w-72 h-72 p-5 rounded-[20px] flex flex-col items-center justify-between">
    <div class="text-center">
      <svg class="w-20 h-20 stroke-lime-500 mx-auto mb-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.31 27.3">
        <path fill="none" stroke-width="1" d="M17.54,19.83c-3.13.67-4.3.67-4.3.67-4.53,0-8.21-3.13-8.21-7s3.67-7,8.21-7c0,0,1.95,0,4.3.67l-1.04-3.17c-3-1-5.5-1-5.5-1C5.2,3,.5,7.7.5,13.5s4.7,10.5,10.5,10.5c0,0,1.5,0,5.5-1l1.04-3.17Z"/>
        <line fill="none" stroke-width="1" x1="7.5" x2="7.5" y2="3.6"/>
        <line fill="none" stroke-width="1" x1="13.04" x2="13.04" y2="3.18"/>
        <line fill="none" stroke-width="1" x1="13.04" y1="23.75" x2="13.04" y2="27.3"/>
        <line fill="none" stroke-width="1" x1="7.5" y1="23.4" x2="7.5" y2="27.3"/>
      </svg>
      <p class="font-mono text-[16px]">Internettet producerer mere end 900 millioner tons CO2 hvert år!</p>
    </div>
  </div>

  <!--Third Box-->
  <div class="bg-lime-50 w-72 h-72 p-5 rounded-[20px] flex flex-col items-center justify-between">
    <div class="text-center">
      <svg class="w-20 h-20 stroke-lime-500 mx-auto mb-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.31 27.3">
        <path fill="none" stroke-width="1" d="M17.54,19.83c-3.13.67-4.3.67-4.3.67-4.53,0-8.21-3.13-8.21-7s3.67-7,8.21-7c0,0,1.95,0,4.3.67l-1.04-3.17c-3-1-5.5-1-5.5-1C5.2,3,.5,7.7.5,13.5s4.7,10.5,10.5,10.5c0,0,1.5,0,5.5-1l1.04-3.17Z"/>
        <line fill="none" stroke-width="1" x1="7.5" x2="7.5" y2="3.6"/>
        <line fill="none" stroke-width="1" x1="13.04" x2="13.04" y2="3.18"/>
        <line fill="none" stroke-width="1" x1="13.04" y1="23.75" x2="13.04" y2="27.3"/>
        <line fill="none" stroke-width="1" x1="7.5" y1="23.4" x2="7.5" y2="27.3"/>
      </svg>
      <p class="font-mono text-[16px]">Der sendes 320 milliarder e-mails hver dag og 62 billioner spam-e-mails hvert år = 20 millioner tons CO2</p>
    </div>
  </div>
</section>

