---

---

<section>
  <h2
    class="pt-24 text-lime-50 text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-mono"
  >
    Digitalt affald i tal
  </h2>
  <section class="flex justify-center items-center">
    <div class="relative inline-block">
      <img
        class="transition-opacity duration-400 hover:opacity-0"
        src="../img/graf.svg"
        alt="graf"
      />
      <img
        class="absolute inset-0 opacity-0 transition-opacity duration-400 hover:opacity-100"
        src="../img/graf2.svg"
        alt="graf"
      />
    </div>
  </section>
</section>
