---
import "../styles/tailwind.css";
import Button from "./Button.astro";
---

<section class="bg-lime-900 p-5 mb-10">
<h1 class="text-lime-50 text-[48px] font-bold md:text-[130px]">Digital Oprydningsdag</h1>
<h2 class="text-lime-50 text-[32px] font-mono md:text-[48px]">Digital Oprydningsdag <span class="text-lime-500">15. Marts 2025</span></h2>
<p class="text-lime-50 text-[20px] font-mono md: text-[24px] max-w-[60ch]">Digital oprydningsdag er en dag dedikeret til at rydde op i vores digitale liv, ligesom når vi forårsrengøre vores hjem</p> 
<div class="mt-5 md:flex md:justify-end">
    <a href="/ressourcer">
<Button>Registrer dit Bidrag</Button> </a>
</div>
</section>