---

---

<div class="w-full overflow-hidden">
  <div
    class="pt-6 pb-2 inline-block whitespace-nowrap text-6xl animate-marquee text-lime-400 font-mono sm:w-full"
  >
    Digitale oprydningsdag d.25.Marts 2025 - Digitale oprydningsdag d.25.Marts
    2025 - Digitale oprydningsdag d.25.Marts 2025 - Digitale oprydningsdag
    d.25.Marts 2025
  </div>
</div>

<style>
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
</style>
