---

---
<div class="w-[calc(100%+30rem)] -ml-[15rem] overflow-hidden">
    <div class="inline-block whitespace-nowrap text-6xl animate-marquee  text-lime-400 font-mono ">
        Digitale oprydningsdag d.25.Marts 2025 - Digitale oprydningsdag d.25.Marts 2025 - Digitale oprydningsdag d.25.Marts 2025 - Digitale oprydningsdag d.25.Marts 2025
    </div>
  </div>
  
  <style>
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
  </style>
  